# Preprocess Discharge Summaries

In [1]:
import pandas as pd
import numpy as np
import os
import psycopg2
import sqlalchemy
import string
import spacy
from spacy.symbols import ORTH
import scispacy
from collections import Counter
import re
from datetime import date, datetime, timedelta
import random
from sklearn.model_selection import GroupShuffleSplit, StratifiedShuffleSplit
from spellchecker import SpellChecker

Connect to the mimic database and set the search path to the 'mimiciii' schema

In [2]:
dbschema='mimiciii'
cnx = sqlalchemy.create_engine('postgresql+psycopg2://aa5118:mimic@localhost:5432/mimic',
                    connect_args={'options': '-csearch_path={}'.format(dbschema)})

Query the discharge summary notes joined on to patient data

In [3]:
sql = """
  SELECT
      p.subject_id, p.dob, p.gender,
      n.hadm_id, n.category, n.chartdate, n.row_id,
      ROUND((cast(chartdate as date) - cast(dob as date)) / 365.242,0)
          AS age_at_noteevent,
      n.text
  FROM patients p 
  INNER JOIN noteevents n 
  ON p.subject_id = n.subject_id
  WHERE ROUND((cast(chartdate as date) - cast(dob as date)) / 365.242,0) > 14
  AND n.category = 'Discharge summary'
  ORDER BY subject_id
  LIMIT 100;
"""

df = pd.read_sql_query(sqlalchemy.text(sql), cnx)
df.head()

,subject_id,dob,gender,hadm_id,category,chartdate,row_id,age_at_noteevent,text
0,3,2025-04-11,M,145834,Discharge summary,2101-10-31,44005,77.0,Admission Date: [**2101-10-20**] Discharg...
1,4,2143-05-12,F,185777,Discharge summary,2191-03-23,4788,48.0,Admission Date: [**2191-3-16**] Discharge...
2,6,2109-06-21,F,107064,Discharge summary,2175-06-15,20825,66.0,Admission Date: [**2175-5-30**] Dischar...
3,9,2108-01-26,M,150750,Discharge summary,2149-11-14,57115,42.0,"Name: [**Known lastname 10050**], [**Known fi..."
4,9,2108-01-26,M,150750,Discharge summary,2149-11-13,20070,42.0,Admission Date: [**2149-11-9**] Dischar...

Change data type of age to the smallest possible type of integer to save memory and get rid of decimal point

In [4]:
df['age_at_noteevent'] = pd.to_numeric(df['age_at_noteevent'], downcast='integer')
df.head(20)

,subject_id,dob,gender,hadm_id,category,chartdate,row_id,age_at_noteevent,text
0,3,2025-04-11,M,145834,Discharge summary,2101-10-31,44005,77,Admission Date: [**2101-10-20**] Discharg...
1,4,2143-05-12,F,185777,Discharge summary,2191-03-23,4788,48,Admission Date: [**2191-3-16**] Discharge...
2,6,2109-06-21,F,107064,Discharge summary,2175-06-15,20825,66,Admission Date: [**2175-5-30**] Dischar...
3,9,2108-01-26,M,150750,Discharge summary,2149-11-14,57115,42,"Name: [**Known lastname 10050**], [**Known fi..."
4,9,2108-01-26,M,150750,Discharge summary,2149-11-13,20070,42,Admission Date: [**2149-11-9**] Dischar...
5,11,2128-02-22,F,194540,Discharge summary,2178-05-11,30120,50,Admission Date: [**2178-4-16**] ...
6,12,2032-03-24,M,112213,Discharge summary,2104-08-20,50972,72,Admission Date: [**2104-8-7**] Discharge ...
7,13,2127-02-27,F,143045,Discharge summary,2167-01-15,57099,40,"Name: [**Known lastname 9900**], [**Known fir..."
8,13,2127-02-27,F,143045,Discharge summary,2167-01-15,20168,40,Admission Date: [**2167-1-8**] Discharg...
9,17,2087-07-14,F,194023,Discharge summary,2134-12-31,51782,47,Admission Date: [**2134-12-27**] ...
10,17,2087-07-14,F,161087,Discharge summary,2135-05-13,51783,48,Admission Date: [**2135-5-9**] D...
11,18,2116-11-29,M,188822,Discharge summary,2167-10-02,55875,51,"Name: [**Known lastname 4919**] JR,[**Known f..."
12,18,2116-11-29,M,188822,Discharge summary,2167-10-02,7823,51,Admission Date: [**2167-9-30**] ...
13,18,2116-11-29,M,188822,Discharge summary,2167-10-04,7824,51,Admission Date: [**2167-10-2**] ...
14,19,1808-08-05,M,109235,Discharge summary,2108-08-11,25231,300,Admission Date: [**2108-8-5**] D...
15,20,2107-06-13,F,157681,Discharge summary,2183-05-03,17861,76,Admission Date: [**2183-4-28**] Dischar...
16,20,2107-06-13,F,157681,Discharge summary,2183-04-28,17860,76,Admission Date: [**2183-5-10**] Dischar...
17,21,2047-04-04,M,109451,Discharge summary,2134-09-24,7237,87,Admission Date: [**2134-9-11**] ...
18,21,2047-04-04,M,111970,Discharge summary,2135-02-08,7238,88,Admission Date: [**2135-1-30**] ...
19,22,2131-05-07,F,165315,Discharge summary,2196-04-10,12144,65,Admission Date: [**2196-4-9**] Discharg...

In [5]:
df.shape

(100, 9)

55404 'adult' (15 or over) discharge summaries - this is what we expect from our exploratory data analysis

The following punctuation marks frequently appear in the middle of words or between words without spacing meaning they are missed by the tokenizer. What we need to is to split the tokens on these punctuation marks after we have tokenized. We do this with regex. We then retokenize. This will substantially decreases the number of our unique words which we will replace with <UNK>

- ampersand
- brackets
- colons
- forward slashes(make sure to leave dates alone though)
- full stops
- hyphens
- equals signs
- semicolons
- plus signs

In [6]:
date_regex = re.compile(r'([0-9])-([0-9][0-9]?)-([0-9])') # change date format so spacy can recognise
newline_regex = re.compile(r'(\\n){3,}') # cap number of consecutive newline characters to 2
newline_regex2 = re.compile(r'(\\r){3,}') # cap number of consecutive newline characters to 2
ellipsis_regex = re.compile(r'(\.){2,}')
tilda_mult_regex = re.compile(r'(~){2,}')
atsign_mult_regex = re.compile(r'(@){2,}')

bracket_regex = re.compile(r'(.)(\()(.)')
bracket_regex2 = re.compile(r'(.)(\))(.)')
slash_regex = re.compile(r'(.)(\/)([^0-9])')
slash_regex2 = re.compile(r'([^0-9])(\/)(.)')
equals_regex = re.compile(r'(.)(=)(.)')
colon_regex = re.compile(r'(.)(:)(.)')
sq_bracket_regex = re.compile(r'(.)(\[)(.)')
dash_regex = re.compile(r'(.)(-)(.)')
dash_regex2 = re.compile(r'(-)([\S])')
plus_regex = re.compile(r'(.)(\+)(.)')
amp_regex = re.compile(r'(.)(&)(.)')
star_regex = re.compile(r'(.)(\*)(.)') 
comma_regex = re.compile(r'(.)(,)(.)')
tilda_regex = re.compile(r'(.)(~)(.)')
pipe_regex = re.compile(r'(.)(\|)(.)')
atsign_regex = re.compile(r'(.)(@)(.)')
dot_regex = re.compile(r'([^.][^0-9])(\.)([^0-9,][^.])')

dot_regex2 = re.compile(r'([^0-9])(\.)(.)')
semicol_regex = re.compile(r'(.);(.)')
caret_regex = re.compile(r'(.)\^(.)')

In [7]:
nlp = spacy.load('en_core_sci_md') # sciSpaCy

nlp.tokenizer.add_special_case(u'<PAR>', [{ORTH: u'<PAR>'}])
nlp.tokenizer.add_special_case(u'<UNK>', [{ORTH: u'<UNK>'}])

i = 0

def tokenise_text(text, counter):
    global i
    
    text = str(text)
    text = date_regex.sub(r'\1/\2/\3',text)
    text = newline_regex.sub(r' \\n\\n ',text)
    text = newline_regex2.sub(r' \\n\\n ',text)
    text = ellipsis_regex.sub(r'.',text)
    text = tilda_mult_regex.sub(r'~',text)
    text = atsign_mult_regex.sub(r'@',text)
    
    text = text.replace("[**","[").replace("**]","]")
    
    tokens = nlp.tokenizer(text)
    tokenised_text = ""
    
    for token in tokens:
        tokenised_text = tokenised_text + token.text + " "
    
    tokenised_text = tokenised_text.replace("\n"," <PAR> ")
    
    tokenised_text = bracket_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = bracket_regex2.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = slash_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = slash_regex2.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = slash_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = equals_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = colon_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = sq_bracket_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = dash_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = dash_regex.sub(r'\1 \2 \3',tokenised_text) # dash twice because sometimes it appears twice
    tokenised_text = dash_regex.sub(r'\1 \2 \3',tokenised_text) # dash thrice because sometimes it appears thrice
    tokenised_text = dash_regex2.sub(r'\1 \2',tokenised_text) # dash thrice because sometimes it appears thrice
    tokenised_text = plus_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = star_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = amp_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = comma_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = dot_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = atsign_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = tilda_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = pipe_regex.sub(r'\1 \2 \3',tokenised_text)
    tokenised_text = dot_regex2.sub(r'\1 \3',tokenised_text)
    tokenised_text = semicol_regex.sub(r'\1 \2',tokenised_text)
    tokenised_text = caret_regex.sub(r'\1 \2',tokenised_text)
        
    tokenised_text = ' '.join(tokenised_text.split())
    
    tokens = nlp.tokenizer(tokenised_text)
    tokenised_text = ""
    
    for token in tokens:
        tokenised_text = tokenised_text + token.text + " "
    
    counter.update(tokenised_text.lower().split())
    
    i += 1
    if (i % 100) == 0:
        print (i)
    
    return tokenised_text

In [8]:
word_freq = Counter()
df["text"] = df["text"].apply(tokenise_text, args = (word_freq,))

100

Below we isolate the tokens which appear 3 times or fewer. They are mostly misspellings.

In [9]:
infreq_words = [word for word in word_freq.keys() if word_freq[word] <= 3 and word[0].isdigit() == False]
print(len(infreq_words))
sorted(infreq_words)[10000:11000]

4337

[]

We try and see if we can correct the misspellings using the `pyspellchecker` library by using the Levenshtein Distance algorithm and comparing against a dictionary. We first add the words with >3 occurrence to our dictionary. This is because they include a lot of scientific/medical terms which might not already be there

In [10]:
freq_words = [word for word in word_freq.keys() if word_freq[word] > 3]
add_to_dictionary = " ".join(freq_words)
f=open("data/mimic_dict.txt", "w+")
f.write(add_to_dictionary)
f.close()

In [11]:
spell = SpellChecker()
spell.distance = 1  # set the distance parameter to just 1 edit away - much quicker
spell.word_frequency.load_text_file('data/mimic_dict.txt')

In [12]:
misspelled = spell.unknown(infreq_words)
misspell_dict = {}
for i, word in enumerate(misspelled):
    if (word != spell.correction(word)):
        misspell_dict[word] = spell.correction(word)
    if (i % 100 == 0):
        print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400

In [13]:
print(len(misspell_dict))
misspell_dict

683

{'titers': 'tigers',
 'nonionic': 'non-ionic',
 'megace': 'menace',
 'actos': 'acts',
 'occ': 'oct',
 'hct%': 'hctc',
 'enought': 'enough',
 'titrate': 'nitrate',
 'lll': 'all',
 'labetelol': 'labetalol',
 'derm': 'erm',
 'schduling': 'scheduling',
 'lpm': 'pm',
 'spo2': 'spot',
 'mpa': 'map',
 'heliox': 'helix',
 'intesive': 'intensive',
 'isrs': 'isis',
 'ugi': 'ugh',
 'qsat': 'sat',
 'tachyardia': 'tachycardia',
 'hyst': 'host',
 'ptn': 'pen',
 'cnii': 'nii',
 'psh': 'push',
 'palpations': 'palpation',
 'chiari': 'chiaro',
 'flomax': 'lomax',
 'papular': 'popular',
 'prev': 'prey',
 'dilatations': 'dilatation',
 'wma': 'ma',
 'contigious': 'contiguous',
 'tvi': 'tv',
 'createnine': 'creatinine',
 'convinving': 'convincing',
 'strenght': 'strength',
 'wtih': 'with',
 'tranfer': 'transfer',
 'avute': 'acute',
 'integrillin': 'integrilin',
 'erythematosus': 'erythematous',
 'qwednesday': 'wednesday',
 'rusb': 'rush',
 'cartia': 'cardia',
 'hcfa': 'cfa',
 'alternans': 'alternants',
 'presumable': 'presumably',
 'psychotropics': 'psychotropic',
 'symtpoms': 'symptoms',
 'nefedipine': 'nifedipine',
 'havv': 'have',
 'ceas': 'cease',
 'pod0': 'pod',
 'hha': 'ha',
 'tunneled': 'tunnelled',
 'scrotal': 'crotal',
 'ctx': 'cox',
 'dsdna': 'didna',
 'remaineed': 'remained',
 'usg': 'us',
 'gastroc': 'gastric',
 'hsv1': 'hsv-1',
 'medicatoin': 'medication',
 'microsp': 'micros',
 'cxs': 'cos',
 'asymetrical': 'asymmetrical',
 'anisocy': 'anisocyt',
 't101.3': '1101.3',
 'hyponatremic': 'hyponatremia',
 'gpl': 'gp',
 'deacones': 'deacons',
 'vre': 'are',
 'ogt': 'out',
 'voiding': 'avoiding',
 'cipro': 'ciro',
 'sp02': 's102',
 'levoquin': 'levaquin',
 'dizzyness': 'dizziness',
 'neutopenic': 'neutropenic',
 'macular': 'macula',
 'lavaged': 'ravaged',
 'hosptial': 'hospital',
 'tachy': 'tacky',
 'epo': 'ego',
 'creatnine': 'creatinine',
 'guiac': 'guaiac',
 'developped': 'developed',
 'o.d': 'old',
 'placemnt': 'placement',
 'lmca': 'ymca',
 'hemo': 'hero',
 'underwen': 'underwent',
 'mgmt': 'gmt',
 'labored': 'laboured',
 'mitochrondrial': 'mitochondrial',
 'lymphadenopath': 'lymphadenopathy',
 'dicussion': 'discussion',
 'emperic': 'empiric',
 'calcifications': 'calcification',
 'sdu': 'du',
 'anticoagulant': 'anticoagulants',
 'movilizing': 'mobilizing',
 'ataxic': 'ataxia',
 'dfa': 'dna',
 'hypoglycemics': 'hypoglycemic',
 'persitently': 'persistently',
 'secodary': 'secondary',
 'gnr': 'gnp',
 'globuln': 'globule',
 'ecf': 'ec',
 'softerner': 'softener',
 'szs': 'sas',
 'evd': 'end',
 'qmonday': 'monday',
 'mwf': 'wwf',
 'staw': 'saw',
 'hbcab': 'hbcag',
 'tob': 'to',
 'aneurism': 'aneurysm',
 'pmns': 'pins',
 'cardene': 'carden',
 'cd30': 'cd3',
 'gbm': 'ibm',
 'unsuccesful': 'unsuccessful',
 'multiforme': 'multiform',
 'haziness': 'laziness',
 'ivdu': 'vdu',
 'seizured': 'seizure',
 'nrb': 'nra',
 'name13': 'name10',
 'tprot': 'trot',
 'lanoxin': 'lanolin',
 'favors': 'favours',
 'likley': 'likely',
 'q24hr': 'q24h',
 'qachs': 'sachs',
 'macrocy': 'macrory',
 'otherwised': 'otherwise',
 'deaconness': 'deaconess',
 'succ': 'such',
 'pules': 'rules',
 'aflutter': 'flutter',
 'fibrillary': 'fibrillar',
 'recieve': 'receive',
 'aocd': 'aoc',
 'referal': 'referral',
 'pancytopenic': 'pancytopenia',
 'hida': 'hide',
 'riss': 'miss',
 'lft': 'left',
 'dwi': 'di',
 'bsna': 'sna',
 'zetia': 'zeta',
 'meld': 'held',
 'dural': 'rural',
 'hematuria': 'haematuria',
 'advil': 'anvil',
 'pasp': 'past',
 'dialyzed': 'dialysed',
 'infero': 'infer',
 'ivfs': 'ives',
 'qtuesday': 'tuesday',
 'lisinoprol': 'lisinopril',
 'sedating': 'seating',
 'tnk': 'tank',
 'normalizations': 'normalization',
 'phm': 'mhm',
 'recieved': 'received',
 'bnzodzp': 'bnzodzpn',
 'hunnington': 'huntington',
 'percocets': 'percocet',
 'patitent': 'patient',
 'mrsa': 'mrs',
 'omental': 'mental',
 'lopresser': 'lopressor',
 'mtg': 'meg',
 'mvp': 'map',
 'pmi': 'pm',
 'soh': 'so',
 'trop': 'top',
 'epileptict': 'epileptic',
 'ulnar': 'lunar',
 'q12': 'q1',
 'mvi': 'vi',
 'givne': 'give',
 'sevelemer': 'sevelamer',
 'althouth': 'although',
 'exerion': 'exertion',
 'insturcted': 'instructed',
 'advair': 'adair',
 'transaminases': 'transaminase',
 'paitent': 'patient',
 'lle': 'lie',
 'mucose': 'mucosa',
 'pth': 'path',
 'rij': 'rid',
 'metroprolol': 'metoprolol',
 'ectatic': 'ecstatic',
 'amio': 'amid',
 'anginal': 'angina',
 'osm': 'osf',
 'hsq': 'hq',
 'reevaluate': 're-evaluate',
 'wdwn': 'wdrn',
 'strep': 'step',
 'dpo': 'do',
 'twi': 'two',
 'omega3': 'omega',
 'lingular': 'singular',
 'elev': 'lev',
 'reglan': 'regan',
 'sinvastatin': 'simvastatin',
 'trhill': 'thrill',
 'falx': 'fall',
 'mdmba': 'mamba',
 'genl': 'gene',
 'crcl': 'crc',
 'atonic': 'atomic',
 'teated': 'treated',
 'perfuse': 'perfume',
 'sino': 'sing',
 'atorvostatin': 'atorvastatin',
 'vss': 'vs',
 'protochol': 'protocol',
 'inotropic': 'isotropic',
 'assymmetry': 'asymmetry',
 'a1c': 'anc',
 'perles': 'peres',
 'cnis': 'cis',
 'symproms': 'symptoms',
 'avb': 'ab',
 'thickenings': 'thickening',
 'intersitial': 'interstitial',
 'avd': 'and',
 'trazadone': 'trazodone',
 'omr': 'or',
 'desensitization': 'desensitisation',
 'myalgias': 'myalgia',
 'pmvt': 'pmt',
 'nebulizers': 'nebulizer',
 'nontoxic': 'non-toxic',
 'ecchocardiogram': 'echocardiogram',
 'diaphoreiss': 'diaphoresis',
 'dialyis': 'dialysis',
 'treatement': 'treatment',
 'paralyzed': 'paralysed',
 'repletions': 'depletions',
 'dmii': 'diii',
 'diseae': 'disease',
 'diagosed': 'diagnosed',
 'labetaolol': 'labetalol',
 'ronchi': 'bronchi',
 'injestion': 'injection',
 'misc': 'miss',
 'vwf': 'wwf',
 'esld': 'esl',
 'significan': 'significant',
 'plaquanil': 'plaquenil',
 'cardic': 'cardiac',
 'steris': 'steric',
 'ambulence': 'ambulance',
 'bolused': 'boluses',
 'wct': 'act',
 'nsicu': 'nicu',
 't12': 't2',
 'calorics': 'calories',
 'sicu': 'sick',
 'x5': 'x',
 'liter': 'later',
 'dui': 'due',
 'q2h': 'q2',
 'troche': 'roche',
 'umn': 'un',
 'apneic': 'apnoeic',
 'extraoccular': 'extraocular',
 'mibi': 'mini',
 'ambulates': 'ambulate',
 'pancyopenia': 'pancytopenia',
 'acei': 'ace',
 'coags': 'coats',
 'hmfp': 'hmip',
 'bood': 'good',
 'hyperglycemia': 'hyperglycaemia',
 'lactated': 'lactate',
 'd5w': 'dew',
 'lethary': 'lethargy',
 'evere': 'every',
 'acove': 'above',
 'rml': 'ml',
 'augmentin': 'augmenting',
 'edematous': 'oedematous',
 'opht': 'opt',
 'microcy': 'microcyt',
 'hemoglobin': 'haemoglobin',
 'postive': 'positive',
 'ecasa': 'casa',
 'epigastic': 'epigastric',
 'pooor': 'poor',
 'hypoxemia': 'hypoxaemia',
 'eosinophilia': 'eosinophilic',
 'accu': 'acc',
 'mannital': 'mannitol',
 'synepherine': 'synephrine',
 'name7': 'name',
 'pateint': 'patient',
 'hypothyrodism': 'hypothyroidism',
 'cortsol': 'cortisol',
 'debulking': 'debunking',
 'occlusions': 'occlusion',
 'cachetic': 'cachectic',
 'appointemnt': 'appointment',
 'intially': 'initially',
 'preadmission': 'readmission',
 'ersd': 'ers',
 'susp': 'ssp',
 'vomitting': 'vomiting',
 'culuture': 'culture',
 'circ': 'circa',
 'suv': 'sun',
 'tms': 'ms',
 'hsv2': 'hsv',
 'q1h': 'q1',
 'hctx': 'hctc',
 'echogenic': 'ethogenic',
 'defecits': 'defects',
 'discahrge': 'discharge',
 'hemi': 'emi',
 'adls': 'adds',
 'kinked': 'linked',
 'plad': 'play',
 'fllor': 'floor',
 'preperation': 'preparation',
 'qhd': 'phd',
 'agap': 'gap',
 'ncat': 'cat',
 'nsvt': 'nst',
 'tibc': 'tic',
 'adeno': 'aden',
 'cvad': 'clad',
 'sbo': 'so',
 'titer': 'tiger',
 'tbili': 'bili',
 'dvts': 'dots',
 'tlso': 'also',
 'satting': 'sitting',
 'symptomc': 'symptoms',
 'sevalamer': 'sevelamer',
 'cin': 'in',
 'scleral': 'sclerae',
 'qweek': 'week',
 'q3h': 'q3',
 'hfa': 'ha',
 'centrum': 'centram',
 'relaeased': 'released',
 'cadiac': 'cardiac',
 'imv': 'iv',
 'hypertriglyceridemia': 'hypertriglyceridaemia',
 'gravida': 'dravida',
 'subclavians': 'subclavian',
 'cardura': 'cordura',
 'univasc': 'univac',
 'benzo': 'enzo',
 'bornwood': 'bernwood',
 'tcu': 'tuc',
 'hepatis': 'hepatic',
 'previoiusly': 'previously',
 'aniecteric': 'anicteric',
 'haldol': 'haldon',
 'serous': 'serious',
 'peerl': 'peer',
 'opthalmic': 'ophthalmic',
 'titiers': 'titters',
 'ngl': 'nil',
 'dp2': 'dp',
 'bacteremic': 'bacteremia',
 'spects': 'aspects',
 'avnrt': 'avert',
 'restoril': 'estoril',
 'rectus': 'rectum',
 'spontaneou': 'spontaneous',
 'bruit': 'fruit',
 'lusb': 'lust',
 'stemi': 'stem',
 'ultram': 'ultra',
 'nebs': 'news',
 't10': 't1',
 'rheum': 'rhum',
 'imaginig': 'imaging',
 'ciwa': 'cia',
 'repolarization': 'depolarization',
 'necrotizine': 'necrotizing',
 'amiodorone': 'amiodarone',
 'agoal': 'goal',
 'prbc': 'prc',
 'favorably': 'favourably',
 'inh': 'in',
 'dxed': 'died',
 'lightheaded': 'light-headed',
 'rta': 'ta',
 'prot': 'port',
 'intracerbral': 'intracerebral',
 'basilary': 'basilar',
 'plaquing': 'plaguing',
 'gauzes': 'gauges',
 'qwed': 'owed',
 'recons': 'reckons',
 'bronch': 'branch',
 'nttp': 'ntt',
 'sdh': 'sh',
 'enalopril': 'enalapril',
 'aorto': 'porto',
 'ivda': 'ida',
 'myosis': 'myosin',
 'enremarkable': 'unremarkable',
 'hematocrits': 'hematocrit',
 'conjunctiva': 'conjunctive',
 'fenard': 'fenari',
 'postoperaive': 'postoperative',
 'mvr': 'mr',
 'gtts': 'gets',
 'hyrdronephrosis': 'hydronephrosis',
 'oversewing': 'overseeing',
 'zoysn': 'zosyn',
 'funciton': 'function',
 'xray': 'ray',
 'parasagital': 'parasagittal',
 'adrenals': 'adrenal',
 'rbcs': 'rics',
 'qfri': 'fri',
 'lacw': 'law',
 'extremiti': 'extremity',
 'extremily': 'extremely',
 'antihypertnsive': 'antihypertensive',
 'qdaily': 'daily',
 'hbsab': 'hbsag',
 'pul': 'put',
 'anemic': 'anaemic',
 'pc02': 'c02',
 'guardin': 'guardian',
 'qod': 'god',
 'acidemia': 'academia',
 'preop': 'prop',
 'bcx': 'box',
 'oint': 'point',
 'eval': 'evil',
 'hydral': 'hydra',
 'sprue': 'spruce',
 'steri': 'stern',
 'taxus': 'taxes',
 'ppy': 'pay',
 'mentate': 'dentate',
 'omentum': 'momentum',
 'aad': 'and',
 'paralytics': 'paralytic',
 'rvr': 'rpr',
 'avss': 'ass',
 'nursung': 'nursing',
 'dfts': 'dots',
 'tng': 'tag',
 'adamst': 'adams',
 'gmr': 'mr',
 'x7': 'x',
 'initital': 'initial',
 'chlor': 'color',
 'precribed': 'prescribed',
 'prox': 'pro',
 'coumdin': 'coumadin',
 'lymphadnopathy': 'lymphadenopathy',
 'axilla': 'maxilla',
 'retrovirals': 'retroviral',
 'laa': 'law',
 'fibrino': 'fibrin',
 'calc': 'call',
 'chole': 'whole',
 'ufh': 'uh',
 'perc': 'per',
 'elixer': 'elixir',
 'solu': 'sold',
 'immobilizer': 'immobilized',
 'eom': 'erm',
 'tts': 'its',
 'milliliters': 'millilitres',
 'ug': 'up',
 'pft': 'put',
 'procdures': 'procedures',
 'fuids': 'funds',
 'signif': 'signify',
 'ative': 'active',
 'om2': 'omi',
 'genta': 'genoa',
 'ptx': 'pt',
 'qthur': 'thur',
 'luq': 'luv',
 'clincal': 'clinical',
 'cardioversions': 'cardioversion',
 'uner': 'under',
 'intubat': 'intubate',
 'corneals': 'corneal',
 'dbili': 'dili',
 'r1000': 'r4000',
 'rle': 'role',
 'nortriptylline': 'nortriptyline',
 'uhold': 'hold',
 'afeb': 'feb',
 'rkr': 'rpr',
 'tricycl': 'tricycle',
 'sct': 'set',
 'pfo': 'pro',
 'pressor': 'presser',
 'lupron': 'lupton',
 'paco2': 'paco',
 'nonproductive': 'non-productive',
 'hbvs': 'hbv',
 'hypokalemia': 'hypokalaemia',
 'recanalization': 'recanalisation',
 'counseled': 'counselled',
 'appts': 'apps',
 'sheduled': 'scheduled',
 'predilation': 'predication',
 'uroligist': 'urologist',
 'angio': 'angie',
 'promod': 'promo',
 'nml': 'ml',
 'occassional': 'occasional',
 'fi02': 'fio2',
 'offerred': 'offered',
 'diahphoresis': 'diaphoresis',
 'sensative': 'sensitive',
 'delirim': 'delirium',
 'spiculated': 'speculated',
 'estradiol': 'oestradiol',
 'rlsb': 'rls',
 'andii': 'andi',
 'enucleated': 'nucleated',
 'pacu': 'pack',
 'mecahnically': 'mechanically',
 'pysch': 'psych',
 'fh': 'oh',
 'muliple': 'multiple',
 'repletion': 'depletion',
 'alleve': 'allege',
 'intermittantly': 'intermittently',
 'palpitation': 'palpitations',
 'hemorrhoids': 'haemorrhoids',
 'talwin': 'talkin',
 'coagulations': 'coagulation',
 'lafb': 'lamb',
 'perll': 'peril',
 'anesthetized': 'anaesthetized',
 'counseling': 'counselling',
 'sao2': 'sao',
 'niddm': 'nidd',
 'rcfa': 'rca',
 'orif': 'orf',
 'clonodine': 'clonidine',
 'ddimer': 'dimer',
 'tco2': 'co2',
 'hypocalcemia': 'hypocalcaemia',
 'radiopaque': 'radioopaque',
 '<3': 'a3',
 'barbitr': 'barbitrt',
 'vegetations': 'vegetation',
 'orthopnes': 'orthopnea',
 'gouty': 'gout',
 'requring': 'requiring',
 'amaryl': 'amaral',
 'palpate': 'palate',
 'timi': 'time',
 'spetal': 'petal',
 'splinting': 'splitting',
 'nls1': 'nls',
 'vasc': 'vast',
 'meningitic': 'meningitis',
 'omed': 'owed',
 'cks': 'cos',
 'evh': 'eh',
 'pullback': 'fullback',
 'gz': 'go',
 'bivertricular': 'biventricular',
 'tni': 'tin',
 'permanenet': 'permanent',
 'sphenoid': 'spheroid',
 'nuc': 'nut',
 'crypto': 'crypt',
 'mulitple': 'multiple',
 'p96.2': '+96.2',
 'wiht': 'with',
 'pvcs': 'pcs',
 'depoprovera': 'depo-provera',
 'ceftin': 'cetin',
 'pfts': 'puts',
 'deyhdration': 'dehydration',
 'toxo': 'too',
 'emt': 'met',
 'piv': 'iv',
 'hepatology': 'hematology',
 'phenobarbiltal': 'phenobarbital',
 'neur': 'near',
 'ngt': 'not',
 'aed': 'and',
 'videx': 'video',
 'scx': 'six',
 'mmvt': 'mmt',
 'comlaining': 'complaining',
 'repeleted': 'repleted',
 'lbbb': 'lobb',
 'bld': 'old',
 'aicd': 'aid',
 'pmhx': 'pmh',
 'thrombolytics': 'thrombolytic',
 'primum': 'primus',
 'ptch': 'pitch',
 'hpotensive': 'hypotensive',
 'briely': 'briefly',
 'rotatory': 'rogatory',
 'contaminent': 'contaminant',
 'empting': 'tempting',
 'wdwp': 'wwp',
 'transfuse': 'transfused',
 'peripehral': 'peripheral',
 'apap': 'app',
 "c'ed": 'ced',
 'dysarthric': 'dysarthria',
 'perla': 'pella',
 'inv': 'in',
 'mva': 'ma',
 'noncardiac': 'non-cardiac',
 'stenotrophomonas': 'stenotrophamonas',
 'prbcs': 'prcs',
 'cysto': 'cysts',
 'pao2': 'pao',
 'aivr': 'air',
 'fsgs': 'figs',
 'availabe': 'available',
 'hemorrhoidectomy': 'haemorrhoidectomy',
 'hepc': 'mepc',
 'admssion': 'admission',
 'fhl': 'fl',
 'foi': 'for',
 'recessitation': 'necessitation',
 'lca': 'ca',
 'transmitral': 'transmittal',
 'dopa': 'dora',
 'noncaseating': 'non-caseating',
 'gf': 'of',
 'bue': 'be',
 'clonus': 'clones',
 'performation': 'perforation',
 'mtp': 'map',
 'tacchycardia': 'tachycardia',
 'caths': 'cats',
 'ptitle': 'title',
 'dpl': 'del',
 'clinda': 'linda',
 'ucx': 'ux',
 'swolen': 'stolen',
 'ctpa': 'tpa',
 'indx': 'index',
 'q48h': 'q4h',
 'emperically': 'empirically',
 'cliical': 'clinical',
 'orals': 'oral',
 'decompensate': 'decompensated',
 'dialy': 'daily',
 'ventillator': 'ventilator',
 'multivitamins': 'multivitamin',
 'noninvasive': 'non-invasive',
 'sbps': 'sbus',
 'trf': 'try',
 'maalox': 'maaloy',
 'omega6': 'omega',
 'procudure': 'procedure',
 'diag': 'drag',
 'pck': 'pick',
 'cmt': 'cut',
 'cauc': 'cac',
 'nasea': 'nausea',
 'lidoacine': 'lidocaine',
 'tkr': 'ter',
 'tranferred': 'transferred',
 'swinning': 'winning',
 'iddm': 'idem'}

We now have correct spellings for many words in our dictionary that occurred <= 3 times. Anything else will be marked as `UNK`. We will save these as text files to avoid having to run this computation again.

In [14]:
unk_words = [word for word in infreq_words if word not in list(misspell_dict.keys())]
len(unk_words)

3654

In [15]:
if 'treatement' in misspell_dict.keys():
    print (misspell_dict['treatement'])

treatment

In [16]:
np.savetxt('data/discharge_unk_words.txt', unk_words, fmt='%s', newline=os.linesep)
f=open("data/discharge_typos.txt", "w+")

for key in misspell_dict:
    f.write(key + '\t' + misspell_dict[key] + '\n')
f.close()

#pd.read_csv('data/discharge_typos.txt', sep='\t',header=None)

 We will correct spelling mistakes whilst any word left uncorrected will be replaced with `<UNK>`

In [40]:
def fix_typos(text, typos, unks):
    
    tokens = text.split()
    tokenised_text = ""
    
    for token in tokens:
        if token.lower() in typos.keys():
            token = typos[token.lower()]
        elif token.lower() in unks:
            token = "<UNK>"
        tokenised_text = tokenised_text + token + " "
    
    return tokenised_text

In [41]:
# apply tokenising function elementwise
df["text"] = df["text"].apply(fix_typos, args = (misspell_dict, unk_words))
df.head()

,subject_id,dob,gender,hadm_id,category,chartdate,row_id,age_at_noteevent,text,hint,ethnicity,diagnosis,admission_type,30d_unplan_readmit
0,3,2025-04-11,M,145834,Discharge summary,2101-10-31,44005,77,Admission Date : [ 2101/10/20 ] Discharge Date...,Admission Date : [ 2101/10/20 ] Discharge Date...,white,hypotension,EMERGENCY,N
1,4,2143-05-12,F,185777,Discharge summary,2191-03-23,4788,48,Admission Date : [ 2191/3/16 ] Discharge Date ...,Admission Date : [ 2191/3/16 ] Discharge Date : [,white,"fever , dehydration , failure to thrive",EMERGENCY,N
2,6,2109-06-21,F,107064,Discharge summary,2175-06-15,20825,66,Admission Date : [ 2175/5/30 ] Discharge Date ...,Admission Date : [ 2175/5/30 ] Discharge Date : [,white,chronic renal failure/sda,ELECTIVE,N
3,9,2108-01-26,M,150750,Discharge summary,2149-11-14,57115,42,"Name : [ Known lastname 10050 ] , [ Known firs...","Name : [ Known lastname 10050 ] , [ Known",other,hemorrhagic cva,EMERGENCY,N
4,9,2108-01-26,M,150750,Discharge summary,2149-11-13,20070,42,Admission Date : [ 2149/11/9 ] Discharge Date ...,Admission Date : [ 2149/11/9 ] Discharge Date : [,other,hemorrhagic cva,EMERGENCY,N

In [19]:
' '.join(df.head()['text'])

"Admission Date : [ 2101/10/20 ] Discharge Date : [ 2101/10/31 ] <PAR> <PAR> Date of Birth : [ 2025/4/11 ] Sex : M <PAR> <PAR> Service : Medicine <PAR> <PAR> CHIEF COMPLAINT : Admitted from rehabilitation for <PAR> hypotension ( systolic blood pressure to the 70s ) and <PAR> decreased urine output <PAR> <PAR> HISTORY OF PRESENT ILLNESS : The patient is a 76 - year - old <PAR> male who had been hospitalized at the [ Hospital1 190 ] from [ 10 - 11 ] through [ 10 - 19 ] of [ 2101 ] <PAR> after undergoing a left femoral - AT bypass graft and was <PAR> subsequently discharged to a rehabilitation facility <PAR> <PAR> On [ 2101/10/20 ] , he presented again to the [ Hospital1 346 ] after being found to have a systolic <PAR> blood pressure in the 70s and no urine output for 17 hours <PAR> A Foley catheter placed at the rehabilitation facility <PAR> yielded 100 cc of murky / brown urine There may also have <PAR> been purulent discharge at the penile meatus at this time <PAR> <PAR> On presentation to the Emergency Department , the patient was <PAR> without subjective complaints In the Emergency Department , <PAR> he was found to have systolic blood pressure of 85 He was <PAR> given 6 liters of intravenous fluids and transiently started <PAR> on dopamine for a systolic blood pressure in the 80.s <PAR> <PAR> PAST MEDICAL HISTORY : <PAR> 1 Coronary artery disease with diffuse 3 - vessel disease <PAR> right - dominant , status post proximal left circumflex stent in <PAR> [ 2101/7/9 ] with occlusion of the distal left circumflex <PAR> status post right coronary artery stent on [ 2101/8/26 ] ( no <PAR> percutaneous coronary intervention to 99 % diagonal left <PAR> circumflex , 80 % small proximal left anterior descending <PAR> artery , or 80 % small distal left anterior descending artery ) <PAR> 2 Congestive heart failure ( with an ejection fraction <PAR> of 15 % to 20 % ) <PAR> 3 Type 2 diabetes with neuropathy <PAR> 4 Hypertension <PAR> 5 Diverticulosis ( found on colonoscopy in [ 2101/7/9 ] ) <PAR> 6 Alzheimer 's dementia <PAR> 7 History of gastrointestinal bleed ( while the patient was <PAR> taking eptifibatide ) <PAR> 8 Cardiac risk factors ( with a baseline creatinine <PAR> of 1.4 to 1.6 ) <PAR> 9 Hypercholesterolemia <PAR> 10 History of methicillin - resistant Staphylococcus aureus <PAR> and Pseudomonas growth in wound cultures <PAR> 11 Severe peripheral vascular disease status post left <PAR> femoral - AT bypass graft on [ 2101/10/11 ] <PAR> 12 Chronic nonhealing foot ulcers <PAR> 13 Recent right pedal cellulitis <PAR> <PAR> ALLERGIES : The patient has no known drug allergies <PAR> <PAR> MEDICATIONS ON ADMISSION : <PAR> 1 Vancomycin 1 g intravenously q 24h for a level of less <PAR> than 15 ( started on [ 2101/10/4 ] ) <PAR> 2 Levofloxacin 250 mg p o q d ( started on [ 2101/10/4 ] ) <PAR> 3 Metronidazole 500 mg p o q 8h ( started on [ 2101/10/4 ] ) <PAR> 4 Heparin 5000 units subcutaneous b i.d <PAR> 5 Simvastatin 40 mg p o q d <PAR> 6 Lisinopril 5 mg p o q d <PAR> 7 Furosemide 40 mg p o q d <PAR> 8 Vitamin E 400 IU p o q d <PAR> 9 Atenolol 25 mg p o q d <PAR> 10 Pantoprazole 40 mg p o q d <PAR> 11 Ascorbic acid 500 mg p o b i.d <PAR> 12 NPH 17 units b i.d <PAR> 13 Regular insulin sliding - scale <PAR> 14 Bisacodyl 10 mg p o. / p r as needed <PAR> 15 Docusate 100 mg p o b i.d <PAR> 16 Percocet 5/325 mg one tablet p o q 4 - 6h as needed for <PAR> pain <PAR> 17 Aspirin 81 mg p o q d <PAR> 18 Metoprolol 75 mg p o b i.d <PAR> <PAR> SOCIAL HISTORY : The patient is retired and had been living <PAR> at home with his wife prior to his admission to the hospital <PAR> on [ 2101/10/11 ] he had been living at [ Hospital3 1761 ] for the day prior to admission He is a <PAR> social drinker and has a 40 - pack - year smoking history <PAR> although , he quit smoking 20 years ago <PAR> <PAR> PHYSICAL EXAMINATION ON PRESENTATION : Initial physical <PAR> examination revealed temperature was 96.1 degrees Fahrenheit , <PAR> heart rate was 83 , blood pressure was 124/42 ( following <PAR> administration of 3 liters of normal saline ) , respiratory <PAR> was 24 , and his oxygen saturation was 100 % on 2 liters nasal <PAR> cannula His heart had a regular rate and rhythm There <PAR> were normal first and second heart sounds There was a 2/6 <PAR> systolic ejection murmur , and there were no rubs or gallops <PAR> His lungs were clear to auscultation bilaterally His <PAR> abdomen was soft , nontender , and nondistended , and there were <PAR> hypoactive bowel sounds He had a palpable bypass graft <PAR> pulse , [ Hospital3 17394 ] dorsalis pedis and posterior tibialis <PAR> pulses bilaterally and his surgical incision was clean , dry , <PAR> and intact Please note that the above examination was done <PAR> by the Vascular Surgery team , which was the team that was <PAR> initially planning to admit the patient to the hospital <PAR> <PAR> PERTINENT LABORATORY DATA ON PRESENTATION : On initial <PAR> laboratory evaluation the patient had a white blood cell <PAR> count of 12.7 , hematocrit was 30.2 , and platelets <PAR> were 282 , 000 His PT was 13.5 , PTT was 30.7 , and INR <PAR> was 1.3 His serum chemistries revealed sodium was 136 , <PAR> potassium was 5.4 , chloride was 99 , bicarbonate was 25 , blood <PAR> urea nitrogen was 53 , creatinine was 3.2 , and blood glucose <PAR> was 91 His calcium was 8.2 , magnesium was 2.4 , and <PAR> phosphate was 4.8 Blood cultures drawn on admission were <PAR> pending , but ultimately negative A urine culture taken on <PAR> admission was initially pending , but ultimately grew out <PAR> yeast A sputum culture taken on admission was also <PAR> initially pending , but ultimately also grew out yeast <PAR> <PAR> RADIOLOGY / IMAGING : His admission chest x - ray demonstrated <PAR> stable prominence of the right main pulmonary artery no <PAR> focal areas of consolidation overall stable appearance of <PAR> the chest compared with a [ 2101/10/15 ] study No <PAR> radiographic evidence of congestive heart failure or <PAR> pneumonia <PAR> <PAR> His admission electrocardiogram demonstrated a sinus rhythm , <PAR> nonspecific inferior / lateral T wave changes , low QRS voltages <PAR> in the limb leads , and T wave changes in V5 and V6 when <PAR> compared with an electrocardiogram dated [ 2101/10/12 ] <PAR> <PAR> An initial abdominal CT was a limited noncontrast examination <PAR> that demonstrated diffuse vascular calcifications No <PAR> evidence of an abdominal aortic aneurysm or free fluid , <PAR> incompletely imaged coronary artery calcification , a simple <PAR> left renal cyst , sigmoid diverticulosis , and an enlarged and <PAR> partially calcified prostate gland <PAR> <PAR> HOSPITAL COURSE BY SYSTEM : <PAR> <PAR> 1 CARDIOVASCULAR : The patient was initially admitted to <PAR> the Vascular Intensive Care Unit with hypotension , decreased <PAR> urine output , and acute renal failure most likely secondary <PAR> to a presumed gram - negative urosepsis ( although there were <PAR> never any positive culture data to confirm this diagnosis ) <PAR> <PAR> While boarding in the Medical Intensive Care Unit on the <PAR> night of admission , the patient had a sudden <PAR> cardiorespiratory arrest He was resuscitated with <PAR> epinephrine , lidocaine , and direct current cardioversion <PAR> times four He was also intubate for airway protection <PAR> <PAR> Following these measures , the patient returned to a sinus <PAR> rhythm with a systolic blood pressure of approximately 100 <PAR> the total time elapsed from the beginning of the arrest to <PAR> the return of a pulse was approximately 16 minutes He <PAR> subsequently required double pressors to maintain his blood <PAR> pressure <PAR> <PAR> An echocardiogram performed at the bedside demonstrated a <PAR> trivial pericardial effusion and a left ventricular ejection <PAR> fraction of 20 % to 25 % in the setting of tachycardia and a <PAR> hyperdynamic right ventricle suggesting elevated right - sided <PAR> filling pressures Although the definitive etiology of this <PAR> arrest remained unknown , the most likely trigger was a <PAR> non - Q - wave myocardial infarction , as his troponin values were <PAR> elevated to greater than 50 following his arrest <PAR> <PAR> A repeat echocardiogram done on [ 2101/10/21 ] <PAR> demonstrated mild left atrial dilation , an ejection fraction <PAR> of 15 % to 20 % , resting regional wall motion abnormalities <PAR> including inferior , mid , and apical left ventricular <PAR> akinesis , depressed right ventricular systolic function , and <PAR> moderate mitral regurgitation Compared with the prior study <PAR> of [ 2101/10/20 ] the left ventricular function was <PAR> unchanged There was moderate mitral regurgitation , and the <PAR> right ventricular function appeared worse <PAR> <PAR> On [ 2101/10/21 ] , the patient was loaded with amiodarone <PAR> and was subsequently started on oral amiodarone The <PAR> following day , he was started on heparin intravenously given <PAR> his elevated serum troponin to greater than 50 this <PAR> medication was continued for 72 hours Given his elevated <PAR> troponins and non - Q - wave myocardial infarction , the patient <PAR> was a candidate for cardiac catheterization <PAR> <PAR> After discussions between the Medical Intensive Care Unit <PAR> team and the patient 's family , however , the decision was made <PAR> to not pursue further invasive procedures given that the <PAR> patient had been made do not resuscitate / do not intubate <PAR> following the resuscitation mentioned above , and his family <PAR> no longer wished for aggressive resuscitating measures <PAR> <PAR> By [ 2101/10/23 ] , he was off pressors and he was <PAR> restarted on a beta blocker and ACE inhibitor at low doses <PAR> <PAR> On the evening of [ 2101/10/25 ] , the patient complained <PAR> of substernal chest pain that was relieved by NPG SL and <PAR> morphine He also had ST segment depressions in V2 and V3 <PAR> that reverted to baseline after the resolution of his pain <PAR> Therefore , the patient was again started on heparin <PAR> although , this was discontinued on [ 2101/10/26 ] when <PAR> the patient ruled out for a myocardial infarction by cardiac <PAR> enzymes He again had substernal chest pain on [ 2101/10/27 ] although , he had no electrocardiogram changes , and he <PAR> again ruled out for a myocardial infarction by cardiac <PAR> enzymes <PAR> <PAR> By hospital day four , the patient began to develop evidence <PAR> of congestive heart failure given his aggressive fluid <PAR> resuscitation , and gentle diuresis with furosemide was begun <PAR> By the time of his transfer to the General Medicine Service <PAR> on [ 2101/10/26 ] , the patient was still significantly <PAR> volume overloaded following his aggressive fluid <PAR> resuscitation in the Medical Intensive Care Unit Therefore , <PAR> he was continued on the program of gentle diuresis given that <PAR> he was having signs and symptoms of right - sided congestive <PAR> heart failure He achieved adequate diuresis by the time of <PAR> his discharge to rehabilitation , as his oxygen saturation was <PAR> greater than 95 % on 2 liters nasal cannula <PAR> <PAR> 2 INFECTIOUS DISEASE / SEPSIS : The patient was started on <PAR> gentamicin and piperacillin / tazobactam in addition to the <PAR> levofloxacin , metronidazole , and vancomycin he was already <PAR> taking for right lower extremity cellulitis prior to <PAR> admission for empiric coverage of a presumed gram - negative <PAR> urosepsis , and he was aggressively hydrated with intravenous <PAR> fluids <PAR> <PAR> On [ 2101/10/21 ] , his levofloxacin and metronidazole was <PAR> discontinued , and he was started on fluconazole given the <PAR> growth of yeast on urine culture He was taken off of <PAR> gentamicin on hospital day three , and his fluconazole was <PAR> discontinued on hospital day five ( as per the Infectious <PAR> Disease Service ) He was taken off of vancomycin on <PAR> [ 2101/10/28 ] , and his piperacillin / tazobactam was <PAR> discontinued on [ 2101/10/29 ] <PAR> <PAR> Despite the presumption of a gram - negative urosepsis <PAR> precipitating this admission , the patient did not have any <PAR> positive blood or urine cultures aside from the growth of <PAR> yeast in two urine cultures noted above He remained <PAR> afebrile both before and after discontinuation of his <PAR> antibiotics , and he was found to be Clostridium difficile <PAR> negative on [ 2101/10/28 ] <PAR> <PAR> 3 PULMONARY : As noted above , the patient was intubated and <PAR> he was extubated on [ 2101/10/24 ] He subsequently <PAR> developed wheezing and mild hypoxia most likely secondary to <PAR> cardiac asthma and fluid overload in the setting of his <PAR> aggressive fluid resuscitation He was gently diuresed <PAR> toward the end of his hospitalization , and by the time of his <PAR> he was maintaining an oxygen saturation of greater than 95 % <PAR> on 2 liters nasal cannula , intermittent ipratropium <PAR> nebulizers , and chest physical therapy for clearance of his <PAR> respiratory secretions <PAR> <PAR> 4 RENAL : The patient presented with acute renal failure <PAR> and prerenal azotemia that rapidly resolved following fluid <PAR> resuscitation By the time of discharge , his serum <PAR> creatinine was stable and at his preadmission baseline <PAR> <PAR> 5 NUTRITION : The patient was found to be profoundly <PAR> malnourished with a serum albumin of 1.8 on admission Once <PAR> he was extubated and taking orals , he performed poorly on a <PAR> modified barium swallowing study and was started on a thin <PAR> liquid , ground - solid diet with whole medication tablets , <PAR> small bites and sips , upright posture with meals , and <PAR> aspiration precautions He was also given ProMod shakes with <PAR> and between meals for nutritional supplementation of his <PAR> heart - healthy / diabetic diet <PAR> <PAR> 6 VASCULAR : The patient 's operative incisions and foot <PAR> ulcers continued to heal throughout this admission He was <PAR> started on an multivitamin , vitamin C , and zinc for improved <PAR> wound healing <PAR> <PAR> 7 HEMATOLOGY : The patient was transfused one unit of <PAR> packed red blood cells on [ 2101/10/27 ] to maintain a <PAR> hematocrit of greater than 30 given his history of severe <PAR> coronary artery disease His hematocrit subsequently <PAR> remained stable <PAR> <PAR> CONDITION AT DISCHARGE : Condition on discharge was stable <PAR> <PAR> DISCHARGE STATUS : [ First Name4 ( NamePattern1 ) 1188 ] [ Last Name ( NamePattern1 ) ] rehabilitation facility <PAR> <PAR> DISCHARGE DIAGNOSES : <PAR> 1 Cardiorespiratory arrest <PAR> 2 Non - Q - wave myocardial infarction <PAR> 3 Acute renal failure <PAR> 4 Coronary artery disease with diffuse 3 - vessel disease <PAR> right - dominant , status post proximal left circumflex stent in <PAR> [ 2101/7/9 ] with occlusion of distal left circumflex status <PAR> post right coronary artery stent on [ 2101/10/27 ] ( no <PAR> percutaneous coronary intervention to 99 % , distal left <PAR> circumflex , 80 % small proximal left anterior descending <PAR> artery , 80 % small distal left anterior descending artery ) <PAR> 5 Congestive heart failure ( with an ejection fraction <PAR> of 15 % to 20 % ) <PAR> 6 Type 2 diabetes with neuropathy <PAR> 7 Hypertension <PAR> 8 Diverticulosis ( found on colonoscopy in [ 2101/7/9 ] ) <PAR> 9 Alzheimer 's dementia <PAR> 10 History of gastrointestinal bleed ( while the patient was <PAR> taking eptifibatide ) <PAR> 11 Cardiac risk factors ( with a baseline creatinine <PAR> of 1.4 to 1.6 ) <PAR> 12 History of methicillin - resistant Staphylococcus aureus <PAR> and Pseudomonas growth in wound cultures <PAR> 13 Severe peripheral vascular disease status post left <PAR> femoral - AT bypass graft on [ 2101/10/11 ] <PAR> 14 Chronic nonhealing foot ulcers <PAR> <PAR> MEDICATIONS ON DISCHARGE : <PAR> 1 Amiodarone 400 mg p o b i.d ( through [ 2101/11/2 ] ) , then 400 mg p o q d ( times one week ) , then 200 mg <PAR> p o q d <PAR> 2 Metoprolol 50 mg p o b i.d <PAR> 3 Captopril 6.25 mg p o t i.d <PAR> 4 Aspirin 325 mg p o q d <PAR> 5 Pantoprazole 40 mg p o q d <PAR> 6 Heparin 5000 units subcutaneously b i.d <PAR> 7 Multivitamin one tablet p o q d <PAR> 8 Zinc sulfate 220 mg p o q d <PAR> 9 Vitamin C 500 mg p o q d <PAR> 10 Ipratropium nebulizers q 4 - 6h as needed ( for wheezing ) <PAR> 11 Acetaminophen 325 mg to 650 mg p o q 4 - 6h as needed <PAR> ( for pain ) <PAR> 12 Miconazole 2 % powder to groin b i.d <PAR> 13 Santyl lotion to heels b i.d <PAR> 14 Regular insulin sliding - scale <PAR> <PAR> CODE STATUS : Do not resuscitate / do not intubate <PAR> <PAR> NOTE : If applicable , an addendum to this Discharge Summary <PAR> will be dictated to include follow - up appointments as well as <PAR> any changes to the medication list noted above <PAR> <PAR> <PAR> <PAR> <PAR> <PAR> <PAR> [ First Name11 ( Name Pattern1 ) ] [ Last Name ( NamePattern4 ) 1604 ] , M D. [ MD Number ( 1 ) 1605 ] <PAR> <PAR> Dictated By : [ Name8 ( MD ) 2507 ] <PAR> <PAR> MEDQUIST36 <PAR> <PAR> D : [ 2101/10/31 ] 01 : 07 <PAR> T : [ 2101/11/5 ] 03 : 44 <PAR> JOB # : [ Job Number ] <PAR>  Admission Date : [ 2191/3/16 ] Discharge Date : [ 2191/3/23 ] <PAR> <PAR> Date of Birth : [ 2143/5/12 ] Sex : F <PAR> <PAR> Service : <PAR> <PAR> CHIEF COMPLAINT : Shortness of breath and fevers <PAR> <PAR> HISTORY OF PRESENT ILLNESS : The patient is a 47 - year - old <PAR> female with a history of human immunodeficiency virus ( last <PAR> CD4 count 42 and a viral load of 65 , 000 ) , cirrhosis , <PAR> diabetes , and hypothyroidism presented with eight days of <PAR> fevers to 104 , chills , shortness of breath , cough , dyspnea on <PAR> exertion , and fatigue <PAR> <PAR> The patient states she has become progressively dyspneic to <PAR> the point where she is short of breath with speaking She <PAR> has also had night sweats for the past two days and whitish <PAR> sputum She complains of myalgias No recent ill contacts <PAR> [ Name ( NI ) ] known tuberculosis exposure <PAR> <PAR> In the Emergency Department , the patient was initially 96 % on <PAR> room air , with a respiratory rate of 20 , and a heart rate of <PAR> 117 A chest x - ray showed diffuse interstitial opacities <PAR> She received 3 liters of normal saline , clindamycin , and <PAR> primaquine for likely Pneumocystis carinii pneumonia She <PAR> spiked a temperature to 102.1 and became progressively <PAR> dyspneic with her respiratory rate increasing to 40 , and her <PAR> oxygen saturations dropping to 89 % on room air She was <PAR> placed on 6 liters by nasal cannula , and an arterial blood <PAR> gas showed 7.47/28/74 The patient was given prednisone and <PAR> aztreonam for possible cholangitis <PAR> <PAR> PAST MEDICAL HISTORY : <PAR> 1 Human immunodeficiency virus diagnosed in [ 2175 ] acquired <PAR> from her ex - husband ( in [ 2190/10/13 ] , CD4 count was 42 and <PAR> viral load was 65 , 000 ) <PAR> 2 Cirrhosis status post liver biopsy in [ 2190/10/13 ] <PAR> consistent with cytosis and sinusoidal fibrosis consistent <PAR> with toxic metabolic disease possibly from highly active <PAR> antiretroviral therapy <PAR> 3 Insulin - dependent diabetes mellitus since [ 2190/10/13 ] <PAR> 4 Hypothyroidism <PAR> 5 Esophagogastroduodenoscopy in [ 2190/11/13 ] was normal <PAR> with no varices <PAR> <PAR> MEDICATIONS ON ADMISSION : <PAR> 1 Viread 300 mg once per day <PAR> 2 Epivir 150 mg twice per day <PAR> 3 Acyclovir 400 mg twice per day <PAR> 4 Diflucan 200 mg twice per day <PAR> 5 Videx 400 mg once per day <PAR> 6 Zantac 150 mg once per day <PAR> 7 Klonopin as needed <PAR> 8 Lantus 6 units subcutaneously in the morning no <PAR> sliding - scale <PAR> <PAR> ALLERGIES : PENICILLIN and SULFA DRUGS ( cause a rash ) <PAR> DAPSONE ( causes nausea ) <PAR> <PAR> FAMILY HISTORY : Family history was noncontributory <PAR> <PAR> SOCIAL HISTORY : The patient lives at home with her son She <PAR> quit tobacco five years ago No alcohol No il

The text field has now been fully cleaned and tokenised. We can proceed to extract the first few tokens to use as a hint and move forth with joining other tables and partitioning the dataset.

In [20]:
counter = 0
def produce_hint(text):
    global counter
    l = text.split()
    counter += 1
    if (counter % 10000) == 0:
        print (counter)
    return ' '.join(l[:10]) # first 10 tokens

df['hint'] = df['text'].map(lambda x: produce_hint(x))

print(df.shape)
df.head()

(100, 10)

,subject_id,dob,gender,hadm_id,category,chartdate,row_id,age_at_noteevent,text,hint
0,3,2025-04-11,M,145834,Discharge summary,2101-10-31,44005,77,Admission Date : [ 2101/10/20 ] Discharge Date...,Admission Date : [ 2101/10/20 ] Discharge Date...
1,4,2143-05-12,F,185777,Discharge summary,2191-03-23,4788,48,Admission Date : [ 2191/3/16 ] Discharge Date ...,Admission Date : [ 2191/3/16 ] Discharge Date : [
2,6,2109-06-21,F,107064,Discharge summary,2175-06-15,20825,66,Admission Date : [ 2175/5/30 ] Discharge Date ...,Admission Date : [ 2175/5/30 ] Discharge Date : [
3,9,2108-01-26,M,150750,Discharge summary,2149-11-14,57115,42,"Name : [ Known lastname 10050 ] , [ Known firs...","Name : [ Known lastname 10050 ] , [ Known"
4,9,2108-01-26,M,150750,Discharge summary,2149-11-13,20070,42,Admission Date : [ 2149/11/9 ] Discharge Date ...,Admission Date : [ 2149/11/9 ] Discharge Date : [

In [21]:
# patients above 89 years of age had their dob modified to be 300 years old at time of first event for privacy reasons
# change their age to instead be 90

df.loc[df['age_at_noteevent'] > 200, 'age_at_noteevent'] = 90

We now merge our dataframe with some extra information from the admissions table. This preprocessing has already been done in another notebook so here we just load the csv file. Primarily, this table provides us with the ethnicity of the patient and whether or not they go on to have an unplanned readmission within 30 days of being discharged. This is relevant for one of our downstream tasks using the artificial data

In [22]:
# admissions data

admissions = pd.read_csv('data/df_adm.csv', sep=',')
admissions.head()
df = pd.merge(df, admissions,  how='left', left_on=['subject_id','hadm_id'], right_on = ['subject_id','hadm_id'])

Now we load all the context data from other tables. We'll be using this to construct the structured input to our encoder

In [24]:
# lab items data

df_labitems = pd.read_sql_query('''
  SELECT l.subject_id, l.charttime, l.value, l.valueuom, l.flag, d.label
  FROM labevents l
  INNER JOIN d_labitems d 
  USING (itemid)
  ORDER BY l.subject_id
  LIMIT 10000;
''', cnx)

print(df_labitems.shape)
df_labitems.head()

(10000, 6)

,subject_id,charttime,value,valueuom,flag,label
0,2,2138-07-17 20:48:00,0,%,None,Atypical Lymphocytes
1,2,2138-07-17 20:48:00,0,%,None,Bands
2,2,2138-07-17 20:48:00,0,%,None,Basophils
3,2,2138-07-17 20:48:00,0,%,None,Eosinophils
4,2,2138-07-17 20:48:00,0,%,abnormal,Hematocrit

In [26]:
# prescriptions data

df_prescriptions = pd.read_sql_query('''
  SELECT subject_id, startdate, enddate, drug, prod_strength
  FROM prescriptions
  ORDER BY subject_id
  LIMIT 10000;
''', cnx)

print(df_prescriptions.shape)
df_prescriptions.head()

(10000, 5)

,subject_id,startdate,enddate,drug,prod_strength
0,2,2138-07-18,2138-07-20,NEO*IV*Gentamicin,10mg/mL-2mL
1,2,2138-07-18,2138-07-20,Syringe (Neonatal) *D5W*,1 Syringe
2,2,2138-07-18,2138-07-21,Ampicillin Sodium,500mg Vial
3,2,2138-07-18,2138-07-21,Send 500mg Vial,Send 500mg Vial
4,4,2191-03-16,2191-03-23,Guaifenesin-Codeine Phosphate,5ML UDCUP

In [27]:
# diagnoses data

df_diagnoses = pd.read_sql_query('''
  SELECT d.subject_id, d.hadm_id, d.seq_num, d.icd9_code, icd.short_title, icd.long_title
  FROM diagnoses_icd d
  INNER JOIN d_icd_diagnoses icd 
  USING (icd9_code)
  ORDER BY d.subject_id, d.seq_num
  --LIMIT 10000;
''', cnx)

print(df_diagnoses.shape)
df_diagnoses.head(10)

(634709, 6)

,subject_id,hadm_id,seq_num,icd9_code,short_title,long_title
0,2,163353,1,V3001,Single lb in-hosp w cs,"Single liveborn, born in hospital, delivered b..."
1,2,163353,2,V053,Need prphyl vc vrl hepat,Need for prophylactic vaccination and inoculat...
2,2,163353,3,V290,NB obsrv suspct infect,Observation for suspected infectious condition
3,3,145834,1,0389,Septicemia NOS,Unspecified septicemia
4,3,145834,2,78559,Shock w/o trauma NEC,Other shock without mention of trauma
5,3,145834,3,5849,Acute kidney failure NOS,"Acute kidney failure, unspecified"
6,3,145834,4,4275,Cardiac arrest,Cardiac arrest
7,3,145834,5,41071,"Subendo infarct, initial","Subendocardial infarction, initial episode of ..."
8,3,145834,6,4280,CHF NOS,"Congestive heart failure, unspecified"
9,3,145834,7,6826,Cellulitis of leg,"Cellulitis and abscess of leg, except foot"

In [28]:
# procedures data

hadm_proc_subset = list(pd.read_csv('data/df_proc_hadm_ids.csv', sep=',')['hadm_id'])

df_procedures = pd.read_sql_query('''
  SELECT p.subject_id, p.hadm_id, p.seq_num, p.icd9_code, icd.short_title, icd.long_title
  FROM procedures_icd p
  INNER JOIN d_icd_procedures icd 
  USING (icd9_code)
  ORDER BY p.subject_id, p.seq_num
  --LIMIT 10000;
''', cnx)

print(df_procedures.shape)
df_procedures = df_procedures[df_procedures['hadm_id'].isin(hadm_proc_subset)]
print(df_procedures.shape)
df_procedures.head(20)

(237948, 6)
(212258, 6)

,subject_id,hadm_id,seq_num,icd9_code,short_title,long_title
1,3,145834,1,9604,Insert endotracheal tube,Insertion of endotracheal tube
2,3,145834,2,9962,Heart countershock NEC,Other electric countershock of heart
3,3,145834,3,8964,Pulmon art wedge monitor,Pulmonary artery wedge monitoring
4,3,145834,4,9672,Cont inv mec ven 96+ hrs,Continuous invasive mechanical ventilation for...
5,3,145834,5,3893,Venous cath NEC,"Venous catheterization, not elsewhere classified"
6,3,145834,6,966,Entral infus nutrit sub,Enteral infusion of concentrated nutritional s...
7,4,185777,1,3893,Venous cath NEC,"Venous catheterization, not elsewhere classified"
8,4,185777,2,8872,Dx ultrasound-heart,Diagnostic ultrasound of heart
9,4,185777,3,3323,Other bronchoscopy,Other bronchoscopy
11,6,107064,1,5569,Kidney transplant NEC,Other kidney transplantation
12,6,107064,2,0091,Trnsplnt live rel donor,Transplant from live related donor
13,6,107064,3,3957,Rep vess w synth patch,Repair of blood vessel with synthetic patch graft
14,6,107064,4,3806,Abdomen artery incision,"Incision of vessel, abdominal arteries"
15,6,107064,5,9904,Packed cell transfusion,Transfusion of packed cells
20,9,150750,1,9672,Cont inv mec ven 96+ hrs,Continuous invasive mechanical ventilation for...
21,9,150750,2,9604,Insert endotracheal tube,Insertion of endotracheal tube
25,11,194540,1,0159,Other brain excision,Other excision or destruction of lesion or tis...
26,11,194540,2,0113,Closed brain biopsy,Closed [percutaneous] [needle] biopsy of brain
27,11,194540,3,0113,Closed brain biopsy,Closed [percutaneous] [needle] biopsy of brain
28,11,194540,4,9229,Radiotherapeut proc NEC,Other radiotherapeutic procedure

In [29]:
# microbiology data

df_microbiology = pd.read_sql_query('''
  SELECT subject_id, hadm_id, MAX(chartdate) AS chartdate, spec_type_desc, string_agg(DISTINCT(org_name), ', ') AS organism
  FROM microbiologyevents
  GROUP BY subject_id, hadm_id, charttime, spec_type_desc
  ORDER BY subject_id, chartdate DESC
  --LIMIT 10000;
''', cnx)

print(df_microbiology.shape)
df_microbiology.head(20)

(340305, 5)

,subject_id,hadm_id,chartdate,spec_type_desc,organism
0,2,163353,2138-07-17,BLOOD CULTURE - NEONATE,None
1,3,145834,2101-10-28,STOOL,None
2,3,145834,2101-10-26,URINE,YEAST
3,3,145834,2101-10-21,BLOOD CULTURE,None
4,3,145834,2101-10-21,URINE,YEAST
5,3,145834,2101-10-21,CATHETER TIP-IV,None
6,3,145834,2101-10-21,BLOOD CULTURE,None
7,3,145834,2101-10-21,BLOOD CULTURE ( MYCO/F LYTIC BOTTLE),None
8,3,145834,2101-10-21,BLOOD CULTURE,None
9,3,145834,2101-10-21,SPUTUM,YEAST
10,3,145834,2101-10-20,BLOOD CULTURE,None
11,3,145834,2101-10-20,SWAB,"GRAM NEGATIVE ROD(S), PROBABLE ENTEROCOCCUS, S..."
12,3,145834,2101-10-20,BLOOD CULTURE,None
13,4,185777,2191-03-23,STOOL,None
14,4,185777,2191-03-22,BLOOD CULTURE,None
15,4,185777,2191-03-22,BLOOD CULTURE,None
16,4,185777,2191-03-19,SPUTUM,None
17,4,185777,2191-03-18,BLOOD CULTURE,None
18,4,185777,2191-03-18,BLOOD CULTURE,None
19,4,185777,2191-03-18,BLOOD CULTURE,None

In [42]:
# phenotype classification subject - we need to make sure these are part of our test set

annotations = pd.read_csv('data/annotations.csv')
annotations.columns.values[0] = 'hadm_id'
annotations.columns.values[1] = 'subject_id'

pheno_subjects = list(annotations['subject_id'])
print(annotations.shape)
annotations.head()

(1610, 18)

,hadm_id,subject_id,chart.time,cohort,Obesity,Non.Adherence,Developmental.Delay.Retardation,Advanced.Heart.Disease,Advanced.Lung.Disease,Schizophrenia.and.other.Psychiatric.Disorders,Alcohol.Abuse,Other.Substance.Abuse,Chronic.Pain.Fibromyalgia,Chronic.Neurological.Dystrophies,Advanced.Cancer,Depression,Dementia,Unsure
0,118003,3644,118003,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0
1,177830,97736,999999,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,185673,27694,999999,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,131938,16275,131938,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,198999,4059,198999,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0

We now split the dataset into training, validation and test sets. As we do so, we query the relevant context data and append it to the input

In [30]:
#%%timeit -n 3 -r 3

# Split the dataset in a grouped and stratified manner

def StratifiedGroupShuffleSplit(df_main):

    df_main = df_main.reindex(np.random.permutation(df_main.index)) # shuffle dataset
    
    # create empty train, val and test datasets
    df_train = pd.DataFrame()
    df_val = pd.DataFrame()
    df_test = pd.DataFrame()

    hparam_mse_wgt = 0.1 # must be between 0 and 1
    assert(0 <= hparam_mse_wgt <= 1)
    train_proportion = 0.8 # must be between 0 and 1
    assert(0 <= train_proportion <= 1)
    val_test_proportion = (1-train_proportion)/2

    subject_grouped_df_main = df_main.groupby(['subject_id'], sort=False, as_index=False)
    readmit_grouped_df_main = df_main.groupby('30d_unplan_readmit').count()[['subject_id']]/len(df_main)*100 
    
    # function to calculate loss
    def calc_mse_loss(df):
        grouped_df = df.groupby('30d_unplan_readmit').count()[['subject_id']]/len(df)*100
        df_temp = readmit_grouped_df_main.join(grouped_df, on = '30d_unplan_readmit', how = 'left', lsuffix = '_main')
        df_temp.fillna(0, inplace=True)
        df_temp['diff'] = (df_temp['subject_id_main'] - df_temp['subject_id'])**2
        mse_loss = np.mean(df_temp['diff'])
        return mse_loss
    
    directory = "data/preprocessed/"
    
    f_train = open(directory + "src-train.txt","w+")
    f_val = open(directory + "src-val.txt","w+")
    f_test = open(directory + "src-test.txt","w+")
    
    len_train = 0
    len_val = 0
    len_test = 0
    total_records = 0
    i = 0

    # loop the groups of subjects one by one
    for _, group in subject_grouped_df_main:

        total_records = len_train + len_val + len_test
        g = pd.DataFrame(group)
        subject_id = g['subject_id'].iloc[0]
        
        pre_left = df_prescriptions['subject_id'].searchsorted(subject_id, 'left')
        pre_right = df_prescriptions['subject_id'].searchsorted(subject_id, 'right')
        
        lab_left = df_labitems['subject_id'].searchsorted(subject_id, 'left')
        lab_right = df_labitems['subject_id'].searchsorted(subject_id, 'right')
        
        diag_left = df_diagnoses['subject_id'].searchsorted(subject_id, 'left')
        diag_right = df_diagnoses['subject_id'].searchsorted(subject_id, 'right')
        
        proc_left = df_procedures['subject_id'].searchsorted(subject_id, 'left')
        proc_right = df_procedures['subject_id'].searchsorted(subject_id, 'right')
        
        micro_left = df_microbiology['subject_id'].searchsorted(subject_id, 'left')
        micro_right = df_microbiology['subject_id'].searchsorted(subject_id, 'right')
        
        g_prescriptions = df_prescriptions[pre_left:pre_right]
        g_labitems = df_labitems[lab_left:lab_right]
        g_diagnoses = df_diagnoses[diag_left:diag_right]
        g_procedures = df_procedures[proc_left:proc_right]
        g_microbiology = df_microbiology[micro_left:micro_right]
        
        train = False
        val = False
        test = False
        i += 1
        
        # all subjects in the phenotyping dataset need to be in the test set
        if subject_id in pheno_subjects:
            df_test = df_test.append(g, ignore_index=True)
            len_test += len(g)
            test = True
            
        # just to add something to each group to start off with - otherwise we end up dividing by 0
        elif (len_train == 0 or len_val == 0 or len_test == 0):
            if (len_train == 0):
                df_train = df_train.append(g, ignore_index=True)
                len_train += len(g)
                train = True
            elif (len_val == 0):
                df_val = df_val.append(g, ignore_index=True)
                len_val += len(g)
                val = True
            else:
                df_test = df_test.append(g, ignore_index=True)
                len_test += len(g)
                test = True
        
        # every 100th group, balance the groups jointly by proportion and by ratio of unplanned readmissions
        elif (i % 100 == 0):
            
            mse_loss_diff_train = calc_mse_loss(df_train) - calc_mse_loss(df_train.append(g, ignore_index=True))
            mse_loss_diff_val = calc_mse_loss(df_val) - calc_mse_loss(df_val.append(g, ignore_index=True))
            mse_loss_diff_test = calc_mse_loss(df_test) - calc_mse_loss(df_test.append(g, ignore_index=True))

            len_diff_train = (train_proportion - (len_train/total_records))
            len_diff_val = (val_test_proportion - (len_val/total_records))
            len_diff_test = (val_test_proportion - (len_test/total_records)) 

            len_loss_diff_train = len_diff_train * abs(len_diff_train)
            len_loss_diff_val = len_diff_val * abs(len_diff_val)
            len_loss_diff_test = len_diff_test * abs(len_diff_test)

            loss_train = (hparam_mse_wgt * mse_loss_diff_train) + ((1-hparam_mse_wgt) * len_loss_diff_train)
            loss_val = (hparam_mse_wgt * mse_loss_diff_val) + ((1-hparam_mse_wgt) * len_loss_diff_val)
            loss_test = (hparam_mse_wgt * mse_loss_diff_test) + ((1-hparam_mse_wgt) * len_loss_diff_test)

            if (max(loss_train,loss_val,loss_test) == loss_train):
                df_train = df_train.append(g, ignore_index=True)
                len_train += len(g)
                train = True
            elif (max(loss_train,loss_val,loss_test) == loss_val):
                df_val = df_val.append(g, ignore_index=True)
                len_val += len(g)
                val = True
            else:
                df_test = df_test.append(g, ignore_index=True)
                len_test += len(g)
                test = True
            
            print ("Group " + str(i) + ". loss_train: " + str(loss_train) + " | " + "loss_val: " + str(loss_val) + " | " + "loss_test: " + str(loss_test) + " | ")
        
        # all the other groups - divided simply by ratios of the dataset splits
        else:
            
            if (train_proportion > (len_train/total_records)):
                df_train = df_train.append(g, ignore_index=True)
                len_train += len(g)
                train = True
            elif (val_test_proportion > (len_val/total_records)):
                df_val = df_val.append(g, ignore_index=True)
                len_val += len(g)
                val = True
            else:
                df_test = df_test.append(g, ignore_index=True)
                len_test += len(g)
                test = True
        
        # loop through every row in the group to get relevant prescriptions and lab items before appending to file
        for j, row in enumerate(g.itertuples()):
            
            chartdate = datetime.combine(row[6], datetime.min.time())
            cutoff = chartdate
            chartdate = cutoff + timedelta(days=1)    
            
            lab_condition = np.logical_and((g_labitems.charttime >= cutoff),
                                           (g_labitems.charttime < chartdate))
            lab_items = g_labitems[lab_condition]
            lab_items = lab_items.sort_values(by=['charttime'], ascending=False)
            
            pre_condition = np.logical_and((g_prescriptions.startdate >= cutoff),
                                           (g_prescriptions.startdate < chartdate))
            prescriptions = g_prescriptions[pre_condition]
            prescriptions = prescriptions.sort_values(by=['startdate'], ascending=False)
            
            lab_items_list = ""
            lab_items_length = len(lab_items)
            if (lab_items_length > 0):
                for k, lab_row in enumerate(lab_items.itertuples()):
                    flag = ""
                    if (pd.isna(lab_row[5]) == False):
                        flag = " , " + str(lab_row[5])

                    lab_items_list += str(lab_row[6]) + " , " + str(lab_row[3]) + " , " + str(lab_row[4]) + flag
                    if (k != (lab_items_length - 1)):
                        lab_items_list += " | "

            prescriptions_list = ""
            prescriptions_length = len(prescriptions)
            if (prescriptions_length > 0):
                for k, pre_row in enumerate(prescriptions.itertuples()):
                    prescriptions_list += str(pre_row[4]) + " , " + str(pre_row[5])
                    if (k != (prescriptions_length - 1)):
                        prescriptions_list += " | "
            
            if (train == True):
                f_train.write(str(row[10]) + " <H> " + str(row[3]) + " <G> " + str(row[8]) + " <A> " + 
                    prescriptions_list + " <M> " + lab_items_list + " <L>" + "\n")
            elif (val == True):
                f_val.write(str(row[10]) + " <H> " + " <T> " + str(row[3]) + " <G> " + str(row[8]) + " <A> " + 
                    prescriptions_list + " <M> " + lab_items_list + " <L>" + "\n")
            else:
                f_test.write(str(row[10]) + " <H> " + " <T> " + str(row[3]) + " <G> " + str(row[8]) + " <A> " + 
                    prescriptions_list + " <M> " + lab_items_list + " <L>" + "\n")
        
        if (i % 100 == 0):
            print (i)
    
    f_train.close()
    f_val.close()
    f_test.close()
    
    return df_train, df_val, df_test

In [31]:
src_train, src_val, src_test = StratifiedGroupShuffleSplit(df)

In [32]:
src_train

,subject_id,dob,gender,hadm_id,category,chartdate,row_id,age_at_noteevent,text,hint,ethnicity,diagnosis,admission_type,30d_unplan_readmit
0,68,2132-02-29,F,108329,Discharge summary,2174-01-18,9139,42,Admission Date : [ 2174/1/4 ] Discharge Date :...,Admission Date : [ 2174/1/4 ] Discharge Date : [,black,weakness,EMERGENCY,N
1,68,2132-02-29,F,108329,Discharge summary,2174-01-18,56002,42,"Name : [ Known lastname 5477 ] , [ Known first...","Name : [ Known lastname 5477 ] , [ Known",black,weakness,EMERGENCY,N
2,68,2132-02-29,F,170467,Discharge summary,2174-01-03,9138,42,Admission Date : [ 2173/12/15 ] Discharge Date...,Admission Date : [ 2173/12/15 ] Discharge Date...,black,pneumonia,EMERGENCY,Y
3,68,2132-02-29,F,108329,Discharge summary,2174-01-19,56004,42,"Name : [ Known lastname 5477 ] , [ Known first...","Name : [ Known lastname 5477 ] , [ Known",black,weakness,EMERGENCY,N
4,78,2128-07-01,M,100536,Discharge summary,2177-02-17,1787,49,Admission Date : [ 2177/2/14 ] Discharge Date ...,Admission Date : [ 2177/2/14 ] Discharge Date : [,black,opiate intoxication,EMERGENCY,N
5,19,1808-08-05,M,109235,Discharge summary,2108-08-11,25231,90,Admission Date : [ 2108/8/5 ] Discharge Date :...,Admission Date : [ 2108/8/5 ] Discharge Date : [,white,c-2 fracture,EMERGENCY,N
6,36,2061-08-17,M,122659,Discharge summary,2131-05-25,7413,70,Admission Date : [ 2131/5/12 ] Discharge Date ...,Admission Date : [ 2131/5/12 ] Discharge Date : [,white,chest pain/shortness of breath,EMERGENCY,N
7,36,2061-08-17,M,182104,Discharge summary,2131-05-08,7412,70,Admission Date : [ 2131/4/30 ] Discharge Date ...,Admission Date : [ 2131/4/30 ] Discharge Date : [,white,coronary artery disease\coronary artery bypass...,EMERGENCY,Y
8,36,2061-08-17,M,165660,Discharge summary,2134-05-20,7414,73,Admission Date : [ 2134/5/10 ] Discharge Date ...,Admission Date : [ 2134/5/10 ] Discharge Date : [,white,ventral hernia/sda,ELECTIVE,N
9,21,2047-04-04,M,111970,Discharge summary,2135-02-08,7238,88,Admission Date : [ 2135/1/30 ] Discharge Date ...,Admission Date : [ 2135/1/30 ] Discharge Date : [,white,sepsis,EMERGENCY,N
10,21,2047-04-04,M,109451,Discharge summary,2134-09-24,7237,87,Admission Date : [ 2134/9/11 ] Discharge Date ...,Admission Date : [ 2134/9/11 ] Discharge Date : [,white,congestive heart failure,EMERGENCY,N
11,41,2076-05-13,M,101757,Discharge summary,2133-01-27,57517,57,"Name : [ Known lastname 11567 ] , [ Known firs...","Name : [ Known lastname 11567 ] , [ Known",white,right brain stem lesion/sda,ELECTIVE,N
12,41,2076-05-13,M,101757,Discharge summary,2133-01-27,26891,57,Admission Date : [ 2132/12/31 ] Discharge Date...,Admission Date : [ 2132/12/31 ] Discharge Date...,white,right brain stem lesion/sda,ELECTIVE,N
13,13,2127-02-27,F,143045,Discharge summary,2167-01-15,57099,40,"Name : [ Known lastname 9900 ] , [ Known first...","Name : [ Known lastname 9900 ] , [ Known",white,coronary artery disease,EMERGENCY,N
14,13,2127-02-27,F,143045,Discharge summary,2167-01-15,20168,40,Admission Date : [ 2167/1/8 ] Discharge Date :...,Admission Date : [ 2167/1/8 ] Discharge Date : [,white,coronary artery disease,EMERGENCY,N
15,109,2117-08-07,F,176760,Discharge summary,2142-01-23,14805,24,Admission Date : [ 2142/1/21 ] Discharge Date ...,Admission Date : [ 2142/1/21 ] Discharge Date : [,black,hypertensive emergency,EMERGENCY,Y
16,109,2117-08-07,F,183350,Discharge summary,2137-11-21,15317,20,Admission Date : [ 2137/11/4 ] Discharge Date ...,Admission Date : [ 2137/11/4 ] Discharge Date : [,black,hypertensive emergency,EMERGENCY,N
17,109,2117-08-07,F,175347,Discharge summary,2140-05-20,15325,23,Admission Date : [ 2140/5/17 ] Discharge Date ...,Admission Date : [ 2140/5/17 ] Discharge Date : [,black,hypertensive urgency,EMERGENCY,N
18,109,2117-08-07,F,196721,Discharge summary,2142-07-23,14863,25,Admission Date : [ 2142/7/12 ] Discharge Date ...,Admission Date : [ 2142/7/12 ] Discharge Date : [,black,shortness of breath,EMERGENCY,Y
19,85,2090-09-18,M,116630,Discharge summary,2162-03-10,10927,71,Admission Date : [ 2162/3/2 ] Discharge Date :...,Admission Date : [ 2162/3/2 ] Discharge Date : [,white,aortic stenosis\cardiac cath,EMERGENCY,N
20,85,2090-09-18,M,112077,Discharge summary,2167-07-30,10928,77,Admission Date : [ 2167/7/25 ] Discharge Date ...,Admission Date : [ 2167/7/25 ] Discharge Date : [,white,pneumonia,EMERGENCY,N
21,81,2106-12-20,M,175016,Discharge summary,2192-01-11,30552,85,Admission Date : [ 2192/1/9 ] Discharge Date :...,Admission Date : [ 2192/1/9 ] Discharge Date : [,white,intracranial hemorrhage;telemetry,EMERGENCY,N
22,63,2080-07-07,M,195961,Discharge summary,2169-01-07,24347,89,Admission Date : [ 2169/1/7 ] Discharge Date :...,Admission Date : [ 2169/1/7 ] Discharge Date : [,white,? pulmonary embolus with desaturation,EMERGENCY,N
23,37,2114-09-17,M,188670,Discharge summary,2183-08-26,6517,69,Admission Date : [ 2183/8/21 ] Discharge Date ...,Admission Date : [ 2183/8/21 ] Discharge Date : [,white,congestive heart failure,EMERGENCY,N
24,80,2104-12-13,M,115385,Discharge summary,2148-11-16,16806,44,Admission Date : [ 2148/11/11 ] Discharge Date...,Admission Date : [ 2148/11/11 ] Discharge Date...,white,head laceration,EMERGENCY,N
25,107,2052-04-02,M,174162,Discharge summary,2122-05-18,4832,70,Admission Date : [ 2122/5/14 ] Discharge Date ...,Admission Date : [ 2122/5/14 ] Discharge Date : [,hispanic,upper gi bleed,EMERGENCY,N
26,107,2052-04-02,M,182383,Discharge summary,2121-12-05,4831,70,Admission Date : [ 2121/11/30 ] Discharge Date...,Admission Date : [ 2121/11/30 ] Discharge Date...,hispanic,hyperkalemia;congestive heart failure,EMERGENCY,N
27,12,2032-03-24,M,112213,Discharge summary,2104-08-20,50972,72,Admission Date : [ 2104/8/7 ] Discharge Date :...,Admission Date : [ 2104/8/7 ] Discharge Date : [,white,pancreatic cancer/sda,ELECTIVE,N
28,100,2085-08-31,F,153952,Discharge summary,2157-08-16,51484,72,Admission Date : [ 2157/8/10 ] Discharge Date ...,Admission Date : [ 2157/8/10 ] Discharge Date : [,other,aortic insufficiency\aortic valve replacement ...,ELECTIVE,N
29,100,2085-08-31,F,153952,Discharge summary,2157-08-18,51485,72,Admission Date : [ 2157/8/8 ] Discharge Date :...,Admission Date : [ 2157/8/8 ] Discharge Date : [,other,aortic insufficiency\aortic valve replacement ...,ELECTIVE,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,3,2025-04-11,M,145834,Discharge summary,2101-10-31,44005,77,Admission Date : [ 2101/10/20 ] Discharge Date...,Admission Date : [ 2101/10/20 ] Discharge Date...,white,hypotension,EMERGENCY,N
51,4,2143-05-12,F,185777,Discharge summary,2191-03-23,4788,48,Admission Date : [ 2191/3/16 ] Discharge Date ...,Admission Date : [ 2191/3/16 ] Discharge Date : [,white,"fever , dehydration , failure to thrive",EMERGENCY,N
52,23,2082-07-17,M,152223,Discharge summary,2153-09-08,4310,71,Admission Date : [ 2153/9/3 ] Discharge Date :...,Admission Date : [ 2153/9/3 ] Discharge Date : [,white,coronary artery disease\coronary artery bypass...,ELECTIVE,N
53,23,2082-07-17,M,124321,Discharge summary,2157-10-25,4311,75,Admission Date : [ 2157/10/18 ] Discharge Date...,Admission Date : [ 2157/10/18 ] Discharge Date...,white,brain mass,EMERGENCY,N
54,91,2095-09-26,F,121205,Discharge summary,2177-05-10,59455,82,"Name : [ Known lastname ] , [ Known firstname ...","Name : [ Known lastname ] , [ Known firstname",white,fever,EMERGENCY,N
55,91,2095-09-26,F,121205,Discharge summary,2177-05-05,52686,82,Admission Date : [ 2177/4/23 ] Discharge Date ...,Admission Date : [ 2177/4/23 ] Discharge Date ...,white,fever,EMERGENCY,N
56,71,2127-08-03,F,111944,Discharge summary,2164-02-08,23560,37,Admission Date : [ 2164/2/3 ] Discharge Date :...,Admission Date : [ 2164/2/3 ] Discharge Date : [,asian,overdose,EMERGENCY,N
57,88,2082-12-31,M,123010,Discharge summary,2111-09-03,15162,29,Admission Date : [ 2111/8/29 ] Discharge Date ...,Admission Date : [ 2111/8/29 ] Discharge Date : [,black,s/p motor vehicle accident-stabbing,EMERGENCY,N
58,18,2116-11-29,M,188822,Discharge summary,2167-10-02,55875,51,"Name : [ Known lastname 4919 ] JR , [ Known fi...","Name : [ Known lastname 4919 ] JR , [",white,hypoglycemia;seizures,EMERGENCY,N
59,18,2116-11-29,M,188822,Discharge summary,2167-10-02,7823,51,Admission Date : [ 2167/9/30 ] Discharge Date ...,Admission Date : [ 2167/9/30 ] Discharge Date : [,white,hypoglycemia;seizures,EMERGENCY,N
60,18,2116-11-29,M,188822,Discharge summary,2167-10-04,7824,51,Admission Date : [ 2167/10/2 ] Discharge Date ...,Admission Date : [ 2167/10/2 ] Discharge Date : [,white,hypoglycemia;seizures,EMERGENCY,N
61,35,2052-09-01,F,166707,Discharge summary,2122-02-20,30078,69,Admission Date : [ 2122/2/10 ] Discharge Date ...,Admission Date : [ 2122/2/10 ] Discharge Date : [,white,aortic valve disease\coronary artery bypass gr...,ELECTIVE,N
62,25,2101-11-21,M,129635,Discharge summary,2160-11-05,23085,59,Admission Date : [ 2160/11/2 ] Discharge Date ...,Admission Date : [ 2160/11/2 ] Discharge Date : [,white,acute coronary syndrome,EMERGENCY,N
63,73,2113-05-22,F,194730,Discharge summary,2170-12-26,16887,58,Admission Date : [ 2170/12/22 ] Discharge Date...,Admission Date : [ 2170/12/22 ] Discharge Date...,white,acute myocardial infarction,EMERGENCY,N
64,30,1872-10-14,M,104557,Discharge summary,2172-10-19,11594,90,Admission Date : [ 2172/10/14 ] Discharge Date...,Admission Date : [ 2172/10/14 ] Discharge Date...,other,unstable angina\cath,URGENT,N
65,75,2070-06-27,F,112086,Discharge summary,2147-04-11,26356,77,Admission Date : [ 2147/4/5 ] Discharge Date :...,Admission Date : [ 2147/4/5 ] Discharge Date : [,white,aortic stenosis\aortic valve replacement/sda,ELECTIVE,N
66,28,2103-04-15,M,162569,Discharge summary,2177-09-06,7187,74,Admission Date : [ 2177/9/1 ] Discharge Date :...,Admission Date : [ 2177/9/1 ] Discharge Date : [,white,coronary artery disease\coronary artery bypass...,ELECTIVE,N
67,53,2124-08-31,M,155385,Discharge summary,2170-03-23,21294,46,Admission Date : [ 2170/3/20 ] Discharge Date ...,Admission Date : [ 2170/3/20 ] Discharge Date : [,other,myocardial infarction\cardiac cath,EMERGENCY,N
68,52,2152-11-26,M,190797,Discharge summary,2191-01-19,28871,38,Admission Date : [ 2191/1/10 ] Discharge Date ...,Admission Date : [ 2191/1/10 ] Discharge Date : [,white,seizures,EMERGENCY,N
69,79,2123-06-11,M,181542,Discharge summary,2175-09-29,22058,52,Admission Date : [ 2175/9/25 ] Discharge Date ...,Admission Date : [ 2175/9/25 ] Discharge Date : [,other,anterior mi\cath,EMERGENCY,N
70,79,2123-06-11,M,181542,Discharge summary,2175-09-29,57278,52,"Name : [ Known lastname 10714 ] , [ Known firs...","Name : [ Known lastname 10714 ] , [ Known",other,anterior mi\cath,EMERGENCY,N
71,106,2164-04-01,M,145167,Discharge summary,2192-08-15,28788,28,Admission Date : [ 2192/8/9 ] Discharge Date :...,Admission Date : [ 2192/8/9 ] Discharge Date : [,other,cardiac arrest,EMERGENCY,N
72,77,2119-05-12,M,142768,Discharge summary,2164-11-20,16870,46,Admission Date : [ 2164/11/18 ] Discharge Date...,Admission Date : [ 2164/11/18 ] Discharge Date...,other,v-fib arrest\cath,EMERGENCY,N
73,55,2072-02-04,F,190665,Discharge summary,2136-04-05,44431,64,Admission Date : [ 2136/4/3 ] Discharge Date :...,Admission Date : [ 2136/4/3 ] Discharge Date : [,white,carotid stenosis\carotid angiogram,EMERGENCY,N
74,86,2100-12-31,F,190243,Discharge summary,2146-04-10,26012,45,Admission Date : [ 2146/4/6 ] Discharge Date :...,Admission Date : [ 2146/4/6 ] Discharge Date : [,white,atrial septal defect\ repair atrial septal def...,ELECTIVE,N
75,99,2111-04-07,M,187373,Discharge summary,2184-08-04,48110,73,Admission Date : [ 2184/7/29 ] Discharge Date ...,Admission Date : [ 2184/7/29 ] Discharge Date : [,white,unstable angina\cath,EMERGENCY,N
76,38,2090-08-31,M,185910,Discharge summary,2166-09-04,24769,76,Admission Date : [ 2166/8/10 ] Discharge Date ...,Admission Date : [ 2166/8/10 ] Discharge Date : [,white,acute myocardial infarction-sepsis,EMERGENCY,N
77,64,2116-06-27,F,172056,Discharge summary,2143-03-18,253,27,Admission Date : [ 2143/3/3 ] Discharge Date :...,Admission Date : [ 2143/3/3 ] Discharge Date : [,black,fungal meningitis,EMERGENCY,N
78,11,2128-02-22,F,194540,Discharge summary,2178-05-11,30120,50,Admission Date : [ 2178/4/16 ] Discharge Date ...,Admission Date : [ 2178/4/16 ] Discharge Date : [,white,brain mass,EMERGENCY,N
79,56,1804-01-02,F,181711,Discharge summary,2104-01-08,22703,90,Admission Date : [ 2104/1/2 ] Discharge Date :...,Admission Date : [ 2104/1/2 ] Discharge Date : [,white,head bleed,EMERGENCY,N